@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.themePrimary {
  color: #5cabcb;
}
.themeSecondary {
  color: #003855;
}
.themePrimaryBg {
  background-color: #5cabcb;
}
.themeSecondaryBg {
  background-color: #003855;
}
.bannerImg {
  height: 400px !important;
  width: auto !important;
}

.link{
  text-decoration: none;
}

/* status section */
.statusbg-img {
  height: 200px;
  width: 100%;
  opacity: 0.9;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.status-text {
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
}


.topBtn:hover{
 background-color: #003855;
}


.galleryphoto{
padding: 6px;
}

.galleryphoto:hover{
  border: 1px solid black;
  border-radius: 10px;
}

.deletebtn{
 color:#df3a3a;
 text-align: end;
 position: sticky;
}

.deletebtn :hover{
 color: rgb(152, 23, 23);
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .logo img {
    max-height: 50px; 
  }
  .bannerImg {
    height: 200px !important;
  }
}



@media (max-width: 980px) {
  .bannerImg {
    height: 280px !important;
  }
}




