

.footerlist {
    list-style: none;
  }
  
.footer-wrapper {
    background-color: var(--theme-secondary-bg,  #02496c);
    color: white;
    padding: 20px 0;
  }

  .footericon{
    color: #5cabcb ;
  }
  
  .footer-input-field {
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  .footerbutton {
    background-color: var(--theme-primary-bg, #5cabcb);
    color:black;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }
  
  .footerbutton:hover {
    background-color: var(--theme-primary-hover, #0056b3);
    color:white;
  }

  